# General build artifacts
*.o
*.a
*.so*
*.t
*.d
*.os
*.ol
*.cmd
*.zip
*.log
*.bin
build/

# Specific large files
host/qemu/debian_qdma_dev.img

# QDMA drivers and apps
host/drivers/qdma/apps/**/*.o
host/drivers/qdma/apps/**/dma-*
!host/drivers/qdma/apps/dma-*
host/drivers/qdma/bin/
host/drivers/qdma/driver/src/libqdma
host/drivers/qdma/driver/src/.*.cmd

# Device platform specific
device/platform/basic_shell/nf-csd/work_farm/hw_plat/
device/platform/software_stack/nf_spdk/.astylerc
device/platform/basic_shell/nf-csd/shell/virt_one_drive/ready_for_download/
device/platform/basic_shell/nf-csd/work_farm/software/arm-atf/
device/platform/basic_shell/nf-csd/work_farm/software/arm-uboot/

# HLS and operators
device/platform/ips/hls/hlsacc_assscheduler/.vscode/
device/platform/ips/hls/hlsacc_assscheduler/.xil/
device/platform/ips/hls/hlsacc_assscheduler/solution1/
device/platform/ips/hls/hlsacc_assscheduler/hlsacc_assscheduler/solution1/
device/platform/ips/hls/hlsacc_assscheduler/hlsacc_assscheduler_ip.zip
device/platform/ips/hls/hlsacc_assscheduler/hlsacc_assscheduler/hls.app
device/operators/hls/Blowfish/build/
device/operators/hls/*/*/solution1/
device/operators/hls/*/lib*
device/operators/hls/*/*.zip
device/operators/hls/*/vitis_hls.log
device/operators/hls/*/*/hls.app
device/operators/hls/*/*/dynamiclib_test

# API libraries
host/api/liburing/examples/
host/api/liburing/src/*.a
host/api/liburing/src/*.d
host/api/liburing/test/*.t
host/api/liburing/src/*.os
host/api/liburing/src/*.ol
host/api/liburing/test/helpers.o
host/api/liburing/src/include/liburing/io_uring_version.h
host/api/liburing/src/liburing.so*
host/api/liburing/config-host.h
host/api/liburing/config.log
host/api/liburing/config-host.mak
host/api/liburing/src/liburing-ffi.so.*
host/api/liburing/src/include/liburing/compat.h
host/api/libnvme/.build/
host/drivers/nvmq/nvmq.mod.c
host/drivers/nvmq/Module.symvers
host/drivers/nvmq/modules.order
host/drivers/qdma/driver/src/Module.symvers
host/drivers/qdma/driver/src/qdma-pf.ko
host/drivers/qdma/driver/src/qdma-pf.mod.c
host/drivers/qdma/driver/src/modules.order
host/drivers/qdma/driver/src/qdma-pf.mod
host/drivers/nvmq/nvmq.mod
host/applications/vscode-blowfish-offload/vscode-blowfish-offload
host/applications/vscode-grep-sw/vscode-grep-sw
host/applications/vscode-slmcopy-test/vscode-slmcopy-test
host/drivers/nvmq/nvmq.ko

.vscode
