[submodule "host/qemu/qemu"]
	path = host/qemu/qemu
	url = https://gitlab.com/qemu-project/qemu.git
	shallow = true
[submodule "host/kernel/source"]
	path = host/kernel/source
	url = https://kernel.googlesource.com/pub/scm/linux/kernel/git/stable/linux-stable-rc.git
