host/qemu/debian_qdma_dev.img
device/platform/basic_shell/nf-csd/work_farm/hw_plat/*
host/qemu/debian_qdma_dev.img
device/platform/software_stack/nf_spdk/.astylerc
device/platform/basic_shell/nf-csd/shell/virt_one_drive/ready_for_download/*
device/platform/basic_shell/nf-csd/work_farm/software/arm-atf/*
device/platform/basic_shell/nf-csd/work_farm/software/arm-uboot/*
device/platform/ips/hls/hlsacc_assscheduler/.vscode/*
device/platform/ips/hls/hlsacc_assscheduler/.xil/*
device/platform/ips/hls/hlsacc_assscheduler/solution1/*
device/platform/basic_shell/nf-csd/shell/virt_one_drive/ready_for_download/fidus/BOOT.bin
device/platform/ips/hls/hlsacc_assscheduler/vitis_hls.log
device/platform/ips/hls/hlsacc_assscheduler/hlsacc_assscheduler/solution1/*
device/platform/ips/hls/hlsacc_assscheduler/hlsacc_assscheduler_ip.zip
device/platform/ips/hls/hlsacc_assscheduler/hlsacc_assscheduler/hls.app
device/operators/hls/Blowfish/build/*
device/operators/hls/*/*/solution1/*
device/operators/hls/*/lib*
device/operators/hls/*/*.zip
device/operators/hls/*/vitis_hls.log
device/operators/hls/*/*/hls.app
device/operators/hls/*/*/dynamiclib_test
host/api/liburing/examples/*
host/api/liburing/src/*.a
host/api/liburing/src/*.d
host/api/liburing/test/*.t
host/api/liburing/src/*.os
host/api/liburing/src/*.ol
host/api/liburing/test/helpers.o
host/api/liburing/src/include/liburing/io_uring_version.h
host/api/liburing/src/liburing.so*
host/api/liburing/config-host.h
host/api/liburing/config.log
host/api/liburing/config-host.mak
host/api/liburing/src/liburing-ffi.so.*

host/api/liburing/src/include/liburing/compat.h
host/api/libnvme/.build/*
