CONFIG_RISCV=y
CONFIG_RISCV_SMODE=y
CONFIG_TARGET_ICT_SERVE=y
CONFIG_SYS_TEXT_BASE=0x80200000
CONFIG_SYS_CONFIG_NAME="ict-serve-h"
CONFIG_NR_DRAM_BANKS=1
CONFIG_ARCH_RV64I=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_FIT=y
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_CMD_BCB=y
CONFIG_CMD_CLK=y
CONFIG_OF_EMBED=y
CONFIG_CACHE=y
CONFIG_MISC=y
CONFIG_EMEMORY_OTP=y
CONFIG_RAM=y
